{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="page-title">Faculty Dashboard</h2>

<table>
    <tr>
        <th>Date</th>
        <th>Session</th>
        <th>Hall</th>
        <th>Status</th>
    </tr>

    {% for alloc in allocations %}
    <tr>
        <td>{{ alloc.exam_date }}</td>
        <td>{{ alloc.session }}</td>
        <td>{{ alloc.hall_no }}</td>
        <td>
            {% if alloc.status == "Confirmed" %}
                <span class="status-confirmed">Confirmed</span>
            {% elif alloc.status == "Pending" %}
                <span class="status-pending">Pending</span>
            {% else %}
                <span class="status-cancelled">Cancelled</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
